@font-face {
  font-family: "ZoofiBlueprint";
  src: url('ZoofiBlueprint.eot?t=1779069563362'); /* IE9*/
  src: url('ZoofiBlueprint.eot?t=1779069563362#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('ZoofiBlueprint.woff2?t=1779069563362') format('woff2'),
  url('ZoofiBlueprint.woff?t=1779069563362') format('woff'),
  url('ZoofiBlueprint.ttf?t=1779069563362') format('truetype'),
  url('ZoofiBlueprint.svg?t=1779069563362') format('svg');
}

[class^="ZoofiBlueprint-"], [class*=" ZoofiBlueprint-"] {
  font-family: 'ZoofiBlueprint' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.ZoofiBlueprint-A::before { content: "\ea01"; }
.ZoofiBlueprint-B::before { content: "\ea02"; }
.ZoofiBlueprint-C::before { content: "\ea03"; }
.ZoofiBlueprint-D::before { content: "\ea04"; }
.ZoofiBlueprint-E::before { content: "\ea05"; }
.ZoofiBlueprint-F::before { content: "\ea06"; }
.ZoofiBlueprint-G::before { content: "\ea07"; }
.ZoofiBlueprint-H::before { content: "\ea08"; }
.ZoofiBlueprint-I::before { content: "\ea09"; }
.ZoofiBlueprint-J::before { content: "\ea0a"; }
.ZoofiBlueprint-K::before { content: "\ea0b"; }
.ZoofiBlueprint-L::before { content: "\ea0c"; }
.ZoofiBlueprint-M::before { content: "\ea0d"; }
.ZoofiBlueprint-N::before { content: "\ea0e"; }
.ZoofiBlueprint-O::before { content: "\ea0f"; }
.ZoofiBlueprint-P::before { content: "\ea10"; }
.ZoofiBlueprint-Q::before { content: "\ea11"; }
.ZoofiBlueprint-R::before { content: "\ea12"; }
.ZoofiBlueprint-S::before { content: "\ea13"; }
.ZoofiBlueprint-T::before { content: "\ea14"; }
.ZoofiBlueprint-U::before { content: "\ea15"; }
.ZoofiBlueprint-V::before { content: "\ea16"; }
.ZoofiBlueprint-W::before { content: "\ea17"; }
.ZoofiBlueprint-X::before { content: "\ea18"; }
.ZoofiBlueprint-Y::before { content: "\ea19"; }
.ZoofiBlueprint-Z::before { content: "\ea1a"; }

